<a href="https://colab.research.google.com/github/rishabhr136/Deep_Learning/blob/main/Red_Hat_Pred_Part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv("/content/drive/MyDrive/df_processed_train.csv")
df_train.head()

   Unnamed: 0  char_22  char_36  ...  char_9_type 8  char_9_type 9  outcome
0     1742909        1        1  ...            0.0            0.0        1
1      711687        1        1  ...            0.0            1.0        1
2     2054827        0        0  ...            0.0            0.0        0
3      123820        0        0  ...            0.0            0.0        1
4     1136372        0        0  ...            0.0            0.0        1

[5 rows x 179 columns]

In [3]:
x_train = df_train.iloc[:,1:-1]
y_train = df_train.iloc[:,-1]

In [4]:
df_val =  pd.read_csv("/content/drive/MyDrive/df_processed_val.csv")

In [5]:
x_val = df_val.iloc[:,1:-1]
y_val = df_val.iloc[:,-1]
x_val.head()

   char_22  char_36  ...  char_9_type 8  char_9_type 9
0        0        0  ...            0.0            0.0
1        0        0  ...            0.0            0.0
2        0        0  ...            0.0            0.0
3        0        0  ...            0.0            0.0
4        0        0  ...            0.0            0.0

[5 rows x 177 columns]

In [6]:
#Create a dummy input
import numpy as np
dummy_input = np.arange(1,10)
print("Dummy Input = ",dummy_input)
from sklearn.preprocessing import StandardScaler
#Create a standardscaler instance and fit the data
scaler = StandardScaler()
output = scaler.fit_transform(dummy_input.reshape(-1,1))
print("Output =\n ",list(output))
print("Output's Mean = ",output.mean())
print("Output's Std Dev = ",output.std())
print("\nAfter Inverse Transforming = \n",list(scaler.inverse_transform(output)))

Dummy Input =  [1 2 3 4 5 6 7 8 9]
Output =
  [array([-1.54919334]), array([-1.161895]), array([-0.77459667]), array([-0.38729833]), array([0.]), array([0.38729833]), array([0.77459667]), array([1.161895]), array([1.54919334])]
Output's Mean =  0.0
Output's Std Dev =  1.0

After Inverse Transforming =
 [array([1.]), array([2.]), array([3.]), array([4.]), array([5.]), array([6.]), array([7.]), array([8.]), array([9.])]

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_val_scaled = scaler.transform(x_val)
df_test = pd.read_csv("/content/drive/MyDrive/df_processed_test.csv")
x_test = df_test.iloc[:,1:-1]
y_test = df_test.iloc[:,-1]
x_test_scaled = scaler.transform(x_test)
x_test_scaled[:10]

array([[-0.6068629 , -0.69890687, -1.46987672, ..., -0.17115776,
        -0.20401505, -0.20301124],
       [-0.6068629 , -0.69890687,  0.28917645, ..., -0.17115776,
        -0.20401505, -0.20301124],
       [-0.6068629 ,  1.43080579,  0.28917645, ...,  5.84256287,
        -0.20401505, -0.20301124],
       ...,
       [-0.6068629 , -0.69890687,  1.16870304, ..., -0.17115776,
        -0.20401505, -0.20301124],
       [-0.6068629 , -0.69890687,  0.28917645, ..., -0.17115776,
        -0.20401505, -0.20301124],
       [-0.6068629 , -0.69890687, -1.46987672, ..., -0.17115776,
        -0.20401505, -0.20301124]])

In [8]:
from keras import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(512,input_dim = x_train_scaled.shape[1],activation="relu"))
model.add(Dense(1,activation = "sigmoid"))
model.compile(optimizer = "Adam",loss="binary_crossentropy",metrics=["accuracy"])
model.fit(x_train_scaled,y_train, validation_data = (x_val_scaled,y_val), epochs=3, batch_size=64)

Epoch 1/3
24720/24720 [==============================] - 78s 3ms/step - loss: 0.2603 - accuracy: 0.8838 - val_loss: 0.1912 - val_accuracy: 0.9198
Epoch 2/3
24720/24720 [==============================] - 64s 3ms/step - loss: 0.1762 - accuracy: 0.9281 - val_loss: 0.1655 - val_accuracy: 0.9345
Epoch 3/3
24720/24720 [==============================] - 64s 3ms/step - loss: 0.1467 - accuracy: 0.9428 - val_loss: 0.1371 - val_accuracy: 0.9476

In [9]:
result = model.evaluate(x_test_scaled,y_test)
for i in range(len(model.metrics_names)):
 print("Metric ",model.metrics_names[i],":",str(round(result[i],2)))

13734/13734 [==============================] - 24s 2ms/step - loss: 0.1358 - accuracy: 0.9482
Metric  loss : 0.14
Metric  accuracy : 0.95