<a href="https://colab.research.google.com/github/rishabhr136/Deep_Learning/blob/main/Red_Hat_Pred_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df_train = pd.read_csv("/content/drive/MyDrive/df_processed_train.csv")
df_train.head()

   Unnamed: 0  char_22  char_36  ...  char_9_type 8  char_9_type 9  outcome
0     1742909        1        1  ...            0.0            0.0        1
1      711687        1        1  ...            0.0            1.0        1
2     2054827        0        0  ...            0.0            0.0        0
3      123820        0        0  ...            0.0            0.0        1
4     1136372        0        0  ...            0.0            0.0        1

[5 rows x 179 columns]

In [4]:
x_train = df_train.iloc[:,1:-1]
y_train = df_train.iloc[:,-1]

In [5]:
x_train.head()

   char_22  char_36  ...  char_9_type 8  char_9_type 9
0        1        1  ...            0.0            0.0
1        1        1  ...            0.0            1.0
2        0        0  ...            0.0            0.0
3        0        0  ...            0.0            0.0
4        0        0  ...            0.0            0.0

[5 rows x 177 columns]

In [6]:
df_val =  pd.read_csv("/content/drive/MyDrive/df_processed_val.csv")

In [7]:
df_val.head()

   Unnamed: 0  char_22  char_36  ...  char_9_type 8  char_9_type 9  outcome
0     1782032        0        0  ...            0.0            0.0        0
1     1443760        0        0  ...            0.0            0.0        0
2     1625400        0        0  ...            0.0            0.0        0
3      312267        0        0  ...            0.0            0.0        1
4      607346        0        0  ...            0.0            0.0        1

[5 rows x 179 columns]

In [8]:
x_val = df_val.iloc[:,1:-1]
y_val = df_val.iloc[:,-1]
x_val.head()

   char_22  char_36  ...  char_9_type 8  char_9_type 9
0        0        0  ...            0.0            0.0
1        0        0  ...            0.0            0.0
2        0        0  ...            0.0            0.0
3        0        0  ...            0.0            0.0
4        0        0  ...            0.0            0.0

[5 rows x 177 columns]

In [9]:
from keras.models import Sequential
from keras.layers import Dense
#Design the deep neural network [Small + 1 layer]
model = Sequential()
model.add(Dense(256,input_dim = x_train.shape[1],activation= "relu"))
model.add(Dense(256,activation="relu"))
model.add(Dense(1,activation = "sigmoid")) #activation = sigmoid for binary classification
model.compile(optimizer = "Adam",loss="binary_crossentropy", metrics=["accuracy"])
model.fit(x_train,y_train, validation_data = (x_val,y_val), epochs=3, batch_size=64)

Epoch 1/3
24720/24720 [==============================] - 94s 3ms/step - loss: 1216.1168 - accuracy: 0.6086 - val_loss: 0.6785 - val_accuracy: 0.5692
Epoch 2/3
24720/24720 [==============================] - 78s 3ms/step - loss: 0.6900 - accuracy: 0.5582 - val_loss: 0.6866 - val_accuracy: 0.5573
Epoch 3/3
24720/24720 [==============================] - 77s 3ms/step - loss: 0.6872 - accuracy: 0.5557 - val_loss: 0.6866 - val_accuracy: 0.5573

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_val_scaled = scaler.transform(x_val)